@import 'basic';
@import 'colors';

.footer-left,
.footer-right,
.footer-center {
	height: 360px;
	background-color: $white;
	border-top: 6px solid;
	text-align: center;
	font-size: 17px;
	padding-top: 45px;

	img {
		margin-top: 35px;
	}
}

.top-brown {
	border-color: $brown;
}

.top-blue {
	border-color: $blue;
}

.top-dark {
	border-color: $dark-brown-grd;
}

.bold {
	font-weight: bold;
}

.brown-txt {
	color: $brown;
}

.blue-txt {
	color: $blue;
}

.footer-bottom {
	height: 100px;
	width: 100%;
	background-color: $dark-text;
	color: $grey-text;
	text-align: center;
	font-size: 14px;
	line-height: 100px;

	@media screen and (max-width: $xs-max-width) {
		font-size: 10px;
		height: 50px;
		line-height: 50px;
	}
}









